body {
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    font-family:sans-serif ;
    background-color: rgb(182, 217, 228);
}

h1 {
    margin-top: 10px; /* Memberikan jarak atas pada heading */
    color: #333;
}
.calculator-container {
    text-align: center;
    justify-content: center;
    display:grid
}

.calculator {
    display: grid;
    gap: 20px;
    width: 310px; /* Adjusted width to fit additional button */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button.delete {
    background-color: #ff9800; /* Warna oranye untuk tombol Hapus */
}

.display {
    grid-column: span 4;
    padding: 20px;
    width: 270px;
    font-size: 2em;
    text-align: right;
    border: none;
    background-color: #eaeaea;
    border-radius: 5px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 400px; /* Batas maksimum lebar kalkulator */
    margin: 0 auto;
}

button {
    width: 70px;
    height: 60px;
    font-size: 1.5em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
}

/* .button-tambah {
    width: 100px;
} */

button:active {
    background-color: #0056b3;
}

button.equals {
    grid-column: span 0;
    background-color: #28a745;
}

button.equals:active {
    background-color: #218838;
}

button.delete {
    background-color: #ff9800; /* Warna oranye untuk tombol Hapus */
    grid-column: span 1; /* Membuat tombol 'Hapus' Lebar yang sama */
}


